<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Essential activities -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".ExpenseTracker" android:exported="true" />
        <activity android:name=".HomePageActivity" android:exported="true" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="true" />
        <activity android:name=".SubscriptionTrackerActivity" android:exported="true" />
        <activity android:name=".IncomeTrackerActivity" android:exported="true" />
        <activity android:name=".CyShare" android:exported="true" />
        <activity android:name=".ViewUserInfoActivity" android:exported="true" />
        <activity android:name=".HistoryActivity" android:exported="true" />
        <activity android:name=".UpdateSubscriptionActivity" android:exported="true" />
        <activity android:name=".DeleteSubscriptionActivity" android:exported="true" />
        <activity android:name=".GroupExpenseActivity" android:exported="true" />
        <activity android:name=".GroupListActivity" android:exported="true" />
        <activity android:name=".AdminLoginActivity" android:exported="true" />
        <activity android:name=".AdminActivity" android:exported="true" />
        <activity android:name=".ChatActivityAdmin" android:exported="true" />
        <activity android:name=".ChatActivityUser" android:exported="true" />
        <activity android:name=".GroupChat" android:exported="true" />
        <service android:name=".WebSocketService" android:exported="true" />
        <activity android:name=".NotificationHistoryActivity" android:exported="true"/>
        <activity android:name=".AnalyticsActivity" android:exported="true"/>
        <activity android:name=".StockChartActivity" android:exported="true"/>
        <activity android:name=".ChatgptActivity" android:exported="true"/>
        <activity android:name=".NewsActivity" android:exported="true"/>
        <activity android:name=".SearchActivity" android:exported="true"/>



    </application>

</manifest>
